<ion-nav-bar class="bar-positive nav-title-slide-ios7"
             back-button-type="button-icon"
             back-button-icon="ion-ios7-arrow-back">
</ion-nav-bar>

<ion-view title="Porto.meet">
    <ion-content>
        <div class="card">
            <div class="item item-text-wrap">
                <button class="button button-block button-positive" ng-class="{ disabled: logging_in }"
                        ng-click="facebookLogin()">
                    <i class="icon ion-social-facebook">
                    </i>
                    &nbsp Login with Facebook
                </button>
                <button class="button button-block button-assertive" ng-click="googleLogin()">
                    <i class="icon ion-social-googleplus">
                    </i>
                    &nbsp Login with Google+
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>