<ion-view title="Porto.meet" id="welcome-view" hide-nav-bar="true">
    <ion-content>
        <div class="logo-welcome"></div>
        <div class="login-btns">
            <div id="social-links">
                <ul>
                    <li ng-click="facebookLogin()"><span class="ifacebook"><img src="img/social-icons/facebook.png"></span><a href="#" class="afacebook">sign in with facebook</a></li>
                    <li ng-click="googleLogin()"><span class="igoogleplus"><img src="img/social-icons/googleplus.png"></span><a href="#" class="agoogleplus">sign in with google+</a></li>
                    <!-- <li ng-click="twitterLogin()"><span class="itwitter"><img src="img/social-icons/twitter.png"></span><a href="#" class="atwitter">sign in with twitter</a></li> -->
                </ul>
            </div>
        </div>
    </ion-content>
    <div id="footer" class="bar bar-footer">
        <div class="title em-footer-title">© Code Walkers</div>
    </div>
</ion-view>