<ion-view title="Welcome">
    <ion-content scroll="false">
        <div class="list">
            <label class="item item-input item-floating-label">
                <span class="input-label">Group Name</span>
                <input type="text" placeholder="Group Name">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Password</span>
                <input type="password" placeholder="Password">
            </label>
        </div>
    </ion-content>
    <ion-footer-bar class="bar-dark">
    </ion-footer-bar>
</ion-view>